.navbar-text {
    margin-bottom: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.54);
}

.navbar:hover {
    background: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     color: black;
     background-color: rgba(231, 231, 231, 0.38);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: rgba(231, 231, 231, 0.38);
}

.navbar-toggle {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 0 -15px;
    }
    .navbar-text {
        margin: 15px;
    }
}